* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
    margin:15vh;
    padding: 0;
    overflow: hidden;
    color:white;
    text-align: center;
}
h1{
  color:black
}
p{
  color:black;
}
.winner{
  color:red;
}
.canvas{
  background-color: black;
}
